$icomoon-font-path: "fonts" !default;

$icon-2-path1: "\e900";
$icon-2-path2: "\e901";
$icon-2-path3: "\e902";
$icon-2-path4: "\e903";
$icon-2-path5: "\e904";
$icon-2-path6: "\e905";
$icon-2-path7: "\e906";
$icon-2-path8: "\e907";
$icon-2-path9: "\e908";
$icon-2-path10: "\e909";
$icon-3-path1: "\e90a";
$icon-3-path2: "\e90b";
$icon-3-path3: "\e90c";
$icon-3-path4: "\e90d";
$icon-3-path5: "\e90e";
$icon-3-path6: "\e90f";
$icon-3-path7: "\e910";
$icon-3-path8: "\e911";
$icon-3-path9: "\e912";
$icon-3-path10: "\e913";
$icon-3-path11: "\e914";
$icon-5-path1: "\e915";
$icon-5-path2: "\e916";
$icon-5-path3: "\e917";
$icon-5-path4: "\e918";
$icon-5-path5: "\e919";
$icon-5-path6: "\e91a";
$icon-5-path7: "\e91b";
$icon-5-path8: "\e91c";
$icon-6-path1: "\e91d";
$icon-6-path2: "\e91e";
$icon-6-path3: "\e91f";
$icon-6-path4: "\e920";
$icon-6-path5: "\e921";
$icon-6-path6: "\e922";
$icon-6-path7: "\e923";
$icon-6-path8: "\e924";
$icon-6-path9: "\e925";
$icon-6-path10: "\e926";
$icon-6-path11: "\e927";
$icon-6-path12: "\e928";
$icon-6-path13: "\e929";
$icon-6-path14: "\e92a";
$icon-6-path15: "\e92b";
$icon-6-path16: "\e92c";
$icon-6-path17: "\e92d";
$icon-6-path18: "\e92e";
$icon-6-path19: "\e92f";
$icon-6-path20: "\e930";
$icon-6-path21: "\e931";
$icon-6-path22: "\e932";
$icon-6-path23: "\e933";
$icon-6-path24: "\e934";
$icon-6-path25: "\e935";
$icon-tarjeta-credito-path1: "\e936";
$icon-tarjeta-credito-path2: "\e937";
$icon-tarjeta-credito-path3: "\e938";
$icon-tarjeta-credito-path4: "\e939";
$icon-tarjeta-credito-path5: "\e93a";
$icon-tarjeta-credito-path6: "\e93b";
$icon-tarjeta-credito-path7: "\e93c";
$icon-ecudo-path1: "\e93d";
$icon-ecudo-path2: "\e93e";
$icon-ecudo-path3: "\e93f";
$icon-ecudo-path4: "\e940";
$icon-atencion-path1: "\e941";
$icon-atencion-path2: "\e942";
$icon-atencion-path3: "\e943";
$icon-atencion-path4: "\e944";
$icon-atencion-path5: "\e945";
$icon-atencion-path6: "\e946";
$icon-atencion-path7: "\e947";
$icon-atencion-path8: "\e948";
$icon-atencion-path9: "\e949";
$icon-atencion-path10: "\e94a";
$icon-atencion-path11: "\e94b";
$icon-atencion-path12: "\e94c";
$icon-atencion-path13: "\e94d";
$icon-atencion-path14: "\e94e";
$icon-atencion-path15: "\e94f";
$icon-sobre-email-path1: "\e950";
$icon-sobre-email-path2: "\e951";
$icon-sobre-email-path3: "\e952";
$icon-mensajes-path1: "\e953";
$icon-mensajes-path2: "\e954";
$icon-mensajes-path3: "\e955";
$icon-flecha-abajo-path1: "\e956";
$icon-flecha-abajo-path2: "\e957";
$icon-seguidos-path1: "\e958";
$icon-seguidos-path2: "\e959";
$icon-seguidos-path3: "\e95a";
$icon-seguidos-path4: "\e95b";
$icon-seguidos-path5: "\e95c";
$icon-seguidos-path6: "\e95d";
$icon-seguidos-path7: "\e95e";
$icon-seguidos-path8: "\e95f";
$icon-seguidos-path9: "\e960";
$icon-seguidos-path10: "\e961";
$icon-seguidos-path11: "\e962";
$icon-visitas-path1: "\e963";
$icon-visitas-path2: "\e964";
$icon-visitas-path3: "\e965";
$icon-visitas-path4: "\e966";
$icon-visitas-path5: "\e967";

