.contenedor-descuento-producto {
  margin: 20px;
  width: 100%;
}

.primer-segmento-descuento-productos {
  display: flex;
  width: 100%;
}

.contenedor-pregunta-descuento {
  width: 50%;
}

.contendor-input-descuento {
  padding: 0 19px 0 0;
  width: 50%;
}

.segundo-segmento-descuento-productos {
  width: 100%;
  text-align: center;
  font-size: 20px;
  padding: 0 25px 0 0;
  color: $color_hipertienda;
}
