$hex_hipertienda: #ff6633;

$color_hipertienda: $hex_hipertienda;
$color_hipertienda_oscuro: #7c7c7c;
$color_hipertienda_hover: #F77300;
$color_hipertienda_oscuro_hover: #4d4d4d;
$color_hipervinculos: $hex_hipertienda;
$color_hipervinculos_hover: #ca6600;

//$color_precio_productos

$color_texto: black;
$fondo_popup_header: white;

.color {
  color: rgba(255,102,51,0.69);
}
